.gameBarImage{
    display: none;
    width: 100px;
    padding: 0px 50px;
}

.gameBarBanner{
    display: block;
    cursor: pointer;
}

.gameBar:hover .gameBarImage{
    display: block;
}

.gameBar:hover .gameBarBanner{
    display: none;
}
