.navButton{
    color: #fff !important;
    text-transform:  none !important;
    font-size: 16px !important;
}
.navButton:hover{
    color: #6992ff !important;
    /* border-bottom: 3px solid #6992ff; */
}


.hoveredImage:hover {
    transform: scale(1.08);
    transition: scale 0.3s ease-in-out;
}

.darkNavBtn{
    background-color: transparent !important;
    border-bottom: 4px solid transparent !important;
}
.darkNavBtn:hover{
    color: #9fe871 !important;
    border-bottom: 4px solid #9fe871 !important;
}
.lightNavBtn{
    border-bottom: 4px solid transparent !important;
}
.lightNavBtn:hover{
    border-bottom: 4px solid #ffffff !important;
}